
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/question2?useSSL=false</property>
        <property name="connection.username">debian-sys-maint</property>
        <property name="connection.password">eKPoDqcgzYQdr82J</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <!-- <property name="connection.pool_size">1</property> -->
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">create</property>
        <mapping class = "com.accolite.ManyToOne.UserDetails" />    
        <mapping class = "com.accolite.ManyToOne.Vehicle" />   
    </session-factory>
</hibernate-configuration>